<mat-form-field [formGroup]="formGroup">
  <mat-label>Currency</mat-label>
  <input matInput appCurrency formControlName="currency" />
</mat-form-field>

<pre>{{ formGroup.value | json }}</pre>
<!-- <pre>{{ formGroup.controls['currency'].value | currency: 'EUR' }}</pre> -->
