<h2>Countries</h2>
<hr />

<div class="list-group">
  <a
    routerLink="home"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    Home page
  </a>
  <a
    routerLink="contact"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    Contact page
  </a>
  <a
    routerLink="about"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    About page
  </a>
  <a
    routerLink="search-box-timer"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    Search Box Timer
  </a>

  <!-- <a
    routerLink="countries/by-capital"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    By Capital
  </a>
  <a
    routerLink="countries/by-region"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    By Region
  </a>
  <a
    routerLink="countries/by-country"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    By Country
  </a> -->
</div>
