<div *ngIf="countries.length === 0; else table" class="alert alert-warning text-center">
  Nothing countries for showing
</div>

<ng-template #table>
  <table class="table talbe-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td><img [src]="country.flags.svg" [alt]="country.name.common" /></td>
        <td>{{ country.name.common }}</td>
        <td>{{ country.capital }}</td>
        <td>{{ country.population }}</td>
        <td><a href="#">Show more</a></td>
      </tr>
    </tbody>
  </table>
</ng-template>
