<form>
  <mat-form-field>
    <mat-label>First name</mat-label>
    <input
      matInput
      [(ngModel)]="filtering.firstname"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="handleFieldChange({ firstname: $event })"
      [disabled]="disabled"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input
      matInput
      [(ngModel)]="filtering.lastname"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="handleFieldChange({ lastname: $event })"
      [disabled]="disabled"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Completely disabled</mat-label>
    <input
      matInput
      [matDatepicker]="dp1"
      [(ngModel)]="filtering.dateOfBirth"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="handleFieldChange({ dateOfBirth: $event })"
      [disabled]="disabled"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dp1"></mat-datepicker-toggle>
    <mat-datepicker #dp1></mat-datepicker>
  </mat-form-field>

  <button mat-button type="reset" (click)="handleRestFormClick()">Reset</button>
</form>
<!-- <mat-list role="list">
  <mat-list-item *ngFor="let person of dataPerson" role="listitem">
    {{ person.firstname }} - {{ person.lastname }} - {{ person.dateOfBirth }}
  </mat-list-item>
</mat-list> -->

<pre>
  {{ filtering | json }}
</pre>
