<h2>By capital</h2>

<div class="row">
  <div class="col">
    <!-- search-component -->
    <shared-search-box
      placeholder="Search by capital"
      (onValue)="handleByCapital($event)"
    ></shared-search-box>
  </div>
</div>
<hr />
<div class="row">
  <div class="col">
    <!-- table-component -->
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
